html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, section, header, footer, h1, h2, p, a {
  margin: 0;
  padding: 0;
}
html, body {
  background: #eae2cf;
  width: 100%;
  height: 100%;
}
#map {
  width: 100%;
  height:100%;
}
section {
  width: 100%;
}
/* ===========
 * Content
 *============*/
 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 69px;
  letter-spacing: -3px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
 }
.wrap {
  position: relative;
  height: 100%;
	margin: 0;
  display: -webkit-flex;
  display: flex;
}
.nav-pin {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 400;
  position: absolute;
  text-decoration: none;
  right: 10px;
  top: 10px;
}
.map-info {
  background: #eae2cf;
  padding-top: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin: 0;
  height: 100%;
  position: relative;
  -webkit-flex: 1;
          flex: 1;
}
.map-container {
  height: 100%;
  -webkit-flex: 2;
          flex: 2;
}
.map-info-colapsed {
  width: 0px;
  padding:0;
  -webkit-flex: none;
          flex: none;
}
.about-container {
  background: #eae2cf;
  display: none;
  width: 100%;
  height: 200px;
  text-align: center;
  position: relative;
}
.about-content {
  text-align: left;
  font-size: 1em;
  color: #84754F;
  padding: 20px;
  width: 500px;
  height: 200px;
  margin: 40px auto;
  position: relative;
  z-index: 100;
}
/* ===========
 * Map
 *============*/
.beachName {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.lengthBeach {
  font-size: 1.2em;
}

/* ===========
 * Typographi
 *============*/
body {
  color: #A89871;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
p.headline-label {
  font-size: .8em;
  color: #fff;
}
.headline-title {
  margin: 10px 0;
  color: #A89871;
  font-family: 'Oswald', sans-serif;
  font-size: 3.2em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* ===========
 * Form
 *============*/
 select {
   background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline fill='#ffffff' points='34.375,2.952 22.167,15.16 9.958,2.952 5.952,6.958 22.137,23.143 22.167,23.114 22.196,23.143 38.381,6.958'/></svg>");
   background-color:#5c5173;
   background-repeat:no-repeat;
   background-position: right 5px top 10px;
   background-size:12%;
   /*box-shadow: 2px 2px 4px #5C5173;*/
   cursor:pointer;
   color:#ffffff;
   font-size:1em;
   font-weight:bold;
   padding:10px 15px;
   -webkit-border-radius:2px;
      -moz-border-radius:2px;
           border-radius:2px;
   -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
   -webkit-transition:0.3s ease all;
 	   -moz-transition:0.3s ease all;
 	    -ms-transition:0.3s ease all;
 	     -o-transition:0.3s ease all;
 	        transition:0.3s ease all;
  border:0;
  /*border-top:0;
  border-left:0;
  border-right:0;
  border-bottom: 4px solid #2b1a4d;*/
  outline:0;
}
.controls-latlng-content {
  display: block;
}

.slider-range-max,
.beacth-amount-lengtn {
  display: none;
}
.controls-latlng-item {
  display: block;
  margin: 40px 0;
}
select:focus, select:active {
  border:0;
  outline:0;
}

.leaflet-control-container {
  display: none;
}
/* ===========
 * Mobile structure
 *============*/
 @media (max-width:768px) {
   .wrap {
     display: block;
   }
   .map-info {
     height: auto;
     padding: 8%;
   }
   .controls-latlng-content{
     padding: 20px 20px;
   }
 }
